/* body{

    margin: 0;
    padding: 0;
    background-color: rgb(140, 157, 160);
    background-size: cover;
    background-position: center;
}
.ts{
    text-align: center;
    color: rgb(10, 10, 10);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
input[type=text],input[type=password]{
    padding: 5px;
    background-color: rgb(247, 245, 245);
    border: none;
    border-radius: 20px;
}
input[type=text]::placeholder,input[type=password]::placeholder{
    color: rgb(15, 15, 15);
    text-align: center;
}
button{
    background-color: rgb(18, 104, 184);
    width: 163px;
   border-radius: 20px;
    padding: 10px;
    color: #fff;

    
}
table{
    padding: 30px;
    margin: 20%;
    text-align: center;
    background: rgb(209, 205, 205);
    box-shadow: 5px 10px 8px 10px #888888;
    height: 50%;
    
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 50%;
    display: grid;
    height: 100%;
    place-items: center;
    background: white;
}
.container{
    max-width: 390px;
    width: 50%;
    padding: 30px;
    border-radius: 7px;
    background: rgb(248, 248, 248);
    box-shadow: 0px 15px 20px rgb(216, 216, 216);
    overflow: hidden;
}
.container .title-text{
    display: flex;
    width: 200%;
}
.container .title-text .title  {
    /* display: flex; */
    width: 200%;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}
.container .form-container{
    width: 100%;
    overflow: hidden;
}
.form-container .slide-cnt{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgray;

}
.slide-cnt .slide{
    height: 100%;
    width: 100%;
    z-index: 1;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
}
.slide-cnt .signup{
    color: #000;
}
.slide-cnt .slide-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background:  linear-gradient(to right,rgb(51, 51, 187),rgb(79, 133, 212),blue );

}
input[type=radio]{
    display: none;
}
#signup:checked ~ .slide-tab{
    left: 50%;
}
#signup:checked ~ .signup{
    color: #fff;
}
#signup:checked ~ .login{
    color: #000;
}
.form-container .inner{
    display: flex;
    width: 200%;
}
.form-container .inner form{
      width: 50%;

}
.form-container .inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
}
.inner form .field input:focus{
    border-color:rgb(48, 80, 224);
}
.inner form .pass-link{
    margin-top: 5px;
}
.inner form .signup-link{
    text-align: center;
    margin-top: 30px;
}
.inner form .pass-link a, .inner form .signup-link a{
    color:blueviolet;
    text-decoration: none;
}
.inner form .pass-link a:hover, .inner form .signup-link a:hover{
    text-decoration: underline;
}
.field input[type="submit"]{
   background: linear-gradient(to right,rgb(51, 51, 187),rgb(79, 133, 212),blue );;
   color: white;
   font-size: 20px;
   font-weight: 500;
   padding-left: 0px;
   border: none;
   cursor: pointer;
}
/* .form-container .inner{
    display: flex;
    width: 200%;
}
.form-container .inner form{
    width: 50%;
} */
/* input[type=email],input[type=password]{
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    width: 90%;
    height: 70%;
} */
/* input[type=email]:hover,input[type=password]:hover{
    border-color: slateblue;
}
.pass-link{
    margin-top: 5px;
}
.signup-link{
    text-align: center;
    margin-top: 20px;
}
.pass-link a, .signup-link a{
    color: rgb(28, 58, 230);
}
.pass-link a :hover ,.signup-link a :hover{
    text-decoration: underline;
} */
/* button{
    width: 91%;
    border: none;
    border-style: none;
    border-radius: 20px;
    height: 80%;
    background: linear-gradient(to right,rgb(146, 146, 223),white,rgb(83, 83, 192));
    font-weight: 400;
}
button:hover{
    border-color: rgb(75, 57, 185);
}
.btn:hover{
    border-color: rgb(75, 57, 185);
}
.btn{
    height: 80%;
    background: linear-gradient(to right,rgb(146, 146, 223),white,rgb(83, 83, 192));
    font-weight: 400; 
} */
/* .slide-cnt{
    position: relative;
    display: flex;
    height: 50px;
    width: 90%;
    margin: 20px 0 10px 0;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between;
    border: 1px solid lightgrey;
} */
/* .slide-cnt .slide{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    line-height: 48px;
    z-index: 1;
} */
/* .slide-cnt .signup{
    color: #000;
} */

/* .slide-cnt .slide-tb{
    position: absolute;
    height: 100%;
    border-radius: 6px;
    width: 50%;
    left: 0%;
    z-index: 0;
    background:linear-gradient(to right,rgb(146, 146, 223),white,rgb(83, 83, 192)); ;
} */

/* .field form field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 20px;
} */